

@using System.Data
@model DataSet
@{
    var panel = ViewBag.EditPanel;
}



<form method="post" action="" id="editpanelform">
    @*<input type="hidden" name="hfpkid_@formelement[0].formid" id="hfpkid_@formelement[0].formid" value="0" />
        <input type="hidden" name="hffkid_@formelement[0].formid" id="hffkid_@formelement[0].formid" value="0" />*@
    <input type="hidden" name="hfpkid" id="hfpkid" value="0" />
    <input type="hidden" name="hffkid" id="hffkid" value="0" />

    @*<input type="hidden" name="entry_user_id" id="entry_user_id" value="1" />
        <input type="hidden" name="entry_by" id="entry_by" value="Shabuj" />
        <input type="hidden" name="entry_date" id="entry_date" value="Getdate()" />*@
    <input type="hidden" name="update_by" id="update_by" value="Shabuj" />
    <input type="hidden" name="update_date" id="update_date" value="Getdate()" />

    <input type="hidden" name="is_approved" id="is_approved" value="0" />
    <input type="hidden" name="is_deleted" id="is_deleted" value="0" />
    <input type="hidden" name="is_cancel" id="is_cancel" value="0" />
    <input type="hidden" name="work_follow_position" id="work_follow_position" value="1" />
    <input type="hidden" name="TableIds" value="21" />
    <input type="hidden" name="panelid" value="@ViewBag.PanelId" />

    <table class="ml-0 pl-0" style="width:99%;background-color:white; border:1px  solid #CCD5F0;  font-size:13px; color: black;" border="1">

        @foreach (DataRow pan in panel.Tables[0].Rows)
        {

            <tr>
                <td>Table Id <a style="color:white;background-color:black;" href="#" title="That&apos;s what this widget "><span style="float:right; font-size:16px;padding-right:5px; color:black;"> <i class="fa fa-info-circle" aria-hidden="true"></i></span></a></td>
                <td> <input type="text" name="tableid" value="@ViewBag.TableId " class="border-0" style="width:100%; outline:none;" readonly /></td>
            </tr>

            <tr>
                <td>Panel Name <a style="color:white;background-color:black;" href="#" title="That&apos;s what this widget is what this widget i what this widget iwhat this widget i"><span style="float:right; font-size:16px;padding-right:5px; color:black;"> <i class="fa fa-info-circle" aria-hidden="true"></i></span></a></td>
                <td> <input type="text" name="PanelName" value="@pan["Panelname"]" class="border-0" style="width:100%;outline:none;" /></td>

            </tr>
            <tr>
                <td>Panel Caption <a style="color:white;background-color:black;" href="#" title="hello .. THis is an checkbox feild ."><span style="float:right; font-size:16px;padding-right:5px; color:black;"> <i class="fa fa-info-circle" aria-hidden="true"></i></span></a></td>
                <td class="ml-2"> <input type="text" name="PanelCaption" value="@pan["PanelCaption"]" class="border-0" style="width:100%;outline:none;" /></td>
            </tr>
            <tr>
                <td>Row Position <a style="color:white;background-color:black;" href="#" title="hello .. THis is an checkbox feild ."><span style="float:right; font-size:16px;padding-right:5px; color:black;"> <i class="fa fa-info-circle" aria-hidden="true"></i></span></a></td>
                <td> <input type="text" name="RowPosition" value="@pan["RowPosition"]" class="border-0" style="width:100%;outline:none;" /></td>

            </tr>
            <tr>
                <td>Column Position <a style="color:white;background-color:black;" href="#" title="hello .. THis is an checkbox feild ."><span style="float:right; font-size:16px;padding-right:5px; color:black;"> <i class="fa fa-info-circle" aria-hidden="true"></i></span></a></td>
                <td> <input type="text" name="ColumnPosition" value="@pan["ColPosition"]" class="border-0" style="width:100%;outline:none" /></td>
            </tr>
            <tr>
                <td>Row Column No. <a style="color:white;background-color:black;" href="#" title="hello .. THis is an checkbox feild ."><span style="float:right; font-size:16px;padding-right:5px; color:black;"> <i class="fa fa-info-circle" aria-hidden="true"></i></span></a></td>
                <td> <input type="text" name="PnlColNo" value="@pan["PnlColNo"]" class="border-0" style="width:100%;outline:none;" /></td>

            </tr>
            <tr>
                <td>Vertical? <a style="color:white;background-color:black;" href="#" title="hello .. THis is an checkbox feild ."><span style="float:right; font-size:16px;padding-right:5px; color:black;"> <i class="fa fa-info-circle" aria-hidden="true"></i></span></a></td>
                

                @if (Convert.ToBoolean(pan["IsVertically"]))
                {
                    <td> <input type="checkbox" name="IsVertically" value="1" class="border-0" style="width:100%;" checked /></td>
                  
                }
                else
                {
                    <td> <input type="checkbox" name="IsVertically" value="1" class="border-0" style="width:100%;" /></td>
                }
            </tr>
            <tr>
                <td>SL. <a style="color:white;background-color:black;" href="#" title="hello .. THis is an checkbox feild ."><span style="float:right; font-size:16px;padding-right:5px; color:black;"> <i class="fa fa-info-circle" aria-hidden="true"></i></span></a></td>
                <td> <input type="text" name="SlNo" value="@pan["SlNo"]" class="border-0" style="width:100%;outline:none" /></td>
            </tr>

        }


    </table>
</form>









